<div class="login-container">
  <div>
    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Email -->
      <label>Email</label>
      <input type="email" formControlName="email" placeholder="Enter email" />
      <div
        class="error"
        *ngIf="
          loginForm.get('email')?.touched && loginForm.get('email')?.invalid
        "
      >
        Valid email is required.
      </div>

      <!-- Password -->
      <label>Password</label>
      <input
        type="password"
        formControlName="password"
        placeholder="Enter password"
      />
      <div
        class="error"
        *ngIf="
          loginForm.get('password')?.touched &&
          loginForm.get('password')?.invalid
        "
      >
        Password is required.
      </div>

      <!-- Submit -->
      <button
        type="submit"
        [disabled]="loginForm.invalid || (loading$ | async)"
      >
        {{ (loading$ | async) ? "Logging In...." : "Log In" }}
      </button>
    </form>
  </div>
</div>
